body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 600px;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 80px;
}

header {
  display: flex;
  flex-direction: column;
}

header > p {
  margin-top: -1.25rem;
  color: #7c7c7c;
}

form > div {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

input,
textarea,
select {
  display: block;
  margin-top: 10px;
  padding: 8px 10px;
  border-radius: 6px;
  border: 2px solid #dfdfdf;
  outline: none;
  font: inherit;
  background-color: #ffffff;
  transition-property: border-color;
  transition-duration: 200ms;
}

input:focus,
textarea:focus,
select:focus {
  border: 2px solid #9c9c9c;
}

input:hover,
textarea:hover,
select:hover {
  border: 2px solid #bdbdbd;
}

input::placeholder,
select:required:invalid {
  color: #9c9c9c;
}

/* Age and Telephone */

.double-input {
  display: flex;
  flex-flow: row wrap;
  gap: 25px;
}

.double-input > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Select input (Country) */

select {
  cursor: pointer;
}

option {
  color: black;
}

option[value=""][disabled] {
  display: none;
}

/* Radio Input (Gender) */

.gender {
  display: grid;
  grid-template: 1fr 2fr / 1fr 1fr 1fr;
  gap: 7px;
}

.gender label {
  grid-column: 1 / -1;
}

input[type="radio"] {
  cursor: pointer;
  appearance: none;
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
  margin: 0;
  transition-property: background-color;
  transition-duration: 100ms;
}

input[type="radio"]:checked {
  background-color: #eeeeff;
  border: 1px solid #aaaaff;
}

input[type="radio"]:focus {
  border: 1px solid black;
}

input[type="radio"]:hover {
  border: 1px solid #adadad;
}

label[for^="gender"] {
  display: none;
}

#gender-male::before {
  content: "Male";
}
#gender-female::before {
  content: "Female";
}
#gender-other::before {
  content: "Other";
}

/* Buttons */

button {
  cursor: pointer;
}

.buttons button {
  display: block;
  width: fit-content;
  background-color: white;
  border: 1px solid #dfdfdf;
  border-radius: 30px;
  font: inherit;
  padding: 7px 30px;
  transition-property: background-color;
  transition-duration: 200ms;
}

button:hover {
  border: 1px solid #adadad;
}

.buttons button[type="submit"] {
  background-color: black;
  color: white;
  border: 1px solid transparent;
}

.buttons button[type="submit"]:hover {
  background-color: #353535;
  color: white;
  border: 1px solid transparent;
}

/* Table */

.hidden {
  display: none;
}

table {
  table-layout: fixed;
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
  border: 1px solid #adadad;
}

tr :nth-child(1) {
  text-transform: capitalize;
}

th {
  border-bottom: 1px solid #adadad;
}

td:nth-child(1),
th:nth-child(1) {
  border-right: 1px solid #adadad;
}

td,
th {
  padding: 10px 40px;
}

tbody tr:nth-child(odd) {
  background-color: #efefef;
}
