body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 600px;
  width: 80vw;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
}

header > p {
  margin-top: -1.25rem;
  color: #7c7c7c;
}

form > div {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

input,
textarea,
select {
  display: block;
  margin-top: 10px;
  padding: 8px 10px;
  border-radius: 6px;
  border: 2px solid #dfdfdf;
  outline: none;
  font: inherit;
  background-color: #ffffff;
}

input:focus,
textarea:focus,
select:focus {
  border: 2px solid #adadad;
}
/*
input:invalid,
textarea:invalid,
select:invalid {
  border: 2px solid #eeaaaa;
} */

input::placeholder,
select:required:invalid {
  color: #adadad;
}

/* Age and Telephone */

.double-input {
  display: flex;
  flex-flow: row wrap;
  gap: 25px;
}

.double-input > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Select input (Country) */

select {
  cursor: pointer;
}

option {
  color: black;
}

option[value=""][disabled] {
  display: none;
}

/* Radio Input (Gender) */

.gender {
  display: grid;
  grid-template: 1fr 2fr / 1fr 1fr 1fr;
  gap: 7px;
}

.gender label {
  grid-column: 1 / -1;
}

input[type="radio"] {
  cursor: pointer;
  appearance: none;
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
  margin: 0;
}

input[type="radio"]:checked {
  background-color: #eeeeff;
  border: 1px solid #aaaaff;
}

input[type="radio"]:focus {
  border: 1px solid black;
}

label[for^="gender"] {
  display: none;
}

#gender-male::before {
  content: "Male";
}
#gender-female::before {
  content: "Female";
}
#gender-other::before {
  content: "Other";
}

/* Buttons */

button {
  cursor: pointer;
}

.buttons button {
  display: block;
  width: fit-content;
  background-color: white;
  border: 1px solid #dfdfdf;
  border-radius: 30px;
  font: inherit;
  padding: 7px 30px;
}

.buttons button[type="submit"] {
  background-color: black;
  color: white;
  border: 1px solid transparent;
}

/* Table */

table {
  margin-top: 30px;
}
